.list {
  .cellWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .status {
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;

    &.approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }

    &.pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
